.Header{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    vertical-align: middle;
    background-color: #4c80f1;
    height: 50px;
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}