.Navbar{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.Navbar__Button{
    width: 168px;
    height: 168px;
    border: 5px solid white; 
    margin-bottom: 20px;
    text-decoration: none;
    outline: none;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(10, 10, 10, 0.1);
}

.Navbar__Button:hover{
    background-color: #2c5ae9;
}

.Navbar__Button:active{
    background-color: #2c5ae9;
}

@media screen and (max-width:768px) {
    .Navbar{
        position: static;
        flex-direction: row;
    }
    .Navbar__Button{
        width: 120px;
        height: 120px;
        margin: 10px;
    }
}