.CakePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;

    .img-cake{
        position: absolute;
        width: 450px;
        z-index: 2;
        top: 360px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .img-fire1{
        position: absolute;
        z-index: 3;
        top: -20px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 40px;
        height: 60px;
    }
    .img-fire2{
        position: absolute;
        z-index: 3;
        top: -20px;
        bottom: 0;
        left: 0;
        right: 118px;
        margin: auto;
        width: 40px;
        height: 60px;
    }
    .img-fire3{
        position: absolute;
        z-index: 3;
        top: -20px;
        bottom: 0;
        left: 118px;
        right: 0;
        margin: auto;
        width: 40px;
        height: 60px;
    }

    .img-applause{
        position: absolute;
        z-index: 4;
        top: -120px;
        bottom: 0;
        left: 0px;
        right: 0;
        margin: auto;
    }
    @keyframes img-applause {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

    .img-firework{
        position: absolute;
        z-index: 4;
        top: -120px;
        bottom: 0;
        left: 0px;
        right: 0;
        margin: auto;
    }

    .sound-wave{
        display: none;
    }
}